.top-header {
  height: 80px;
  background-color: #1871c2;
  color: white;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 20px;
}

.container {
  width: 100%;
  padding-top: 2rem;
  box-sizing: border-box;
  display: flex;
}
.container .left-container {
  width: 83%;
}
.container .left-container .left-top-container {
  height: 50px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
.container .left-container .left-top-container .logo {
  width: 40px;
  height: 40px;
  padding-bottom: 10px;
}
.container .left-container .left-top-container .title-stock {
  border: 1px solid black;
  display: flex;
  padding: 6px 1rem;
  width: 16rem;
}
.container .left-container .left-top-container .title-stock h2 {
  margin: auto;
  padding-left: 8px;
  font-size: 1.3rem;
}
.container .left-container .left-top-container .price-info {
  display: flex;
  width: 20rem;
  border: 1px solid black;
  justify-content: space-evenly;
}
.container .left-container .left-top-container .price-info .up {
  color: #2f9e44;
}
.container .left-container .left-top-container .price-info .down {
  color: #e03131;
}
.container .left-container .left-top-container .quantity {
  font-size: 1rem;
  width: 10rem;
  padding-left: 1.2rem;
  box-sizing: border-box;
}
.container .left-container .left-top-container .sell-btn {
  cursor: pointer;
  width: 60px;
  background-color: #ffc9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e03131;
}
.container .left-container .left-top-container .sell-btn h2 {
  font-size: 1rem;
  color: #e03131;
}
.container .left-container .left-top-container .buy-btn {
  width: 60px;
  background-color: #b2f2bb;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2f9e44;
  cursor: pointer;
}
.container .left-container .left-top-container .buy-btn h2 {
  font-size: 1rem;
  color: #2f9e44;
}
.container .left-container .graph-container {
  position: relative;
  width: 1050px;
  height: 500px;
  border: 1px solid black;
  margin: 20px 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.container .left-container .graph-container .item {
  border: 1px dotted black;
  opacity: 0.3;
}
.container .left-container .graph-container .bar-graph-container {
  position: absolute;
  display: flex;
  align-items: end;
  height: 500px;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.container .left-container .graph-container .bar-graph-container .bar-graph {
  width: 20px;
  box-sizing: border-box;
}
.container .left-container .graph-container .bar-graph-container .up {
  background-color: #b2f2bb;
  border: 1px solid #2f9e44;
}
.container .left-container .graph-container .bar-graph-container .down {
  background-color: #ffc9c9;
  border: 1px solid #e03131;
}
.container .right-main {
  width: 20%;
  height: auto;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border: 1px solid black;
}
.container .right-main h1 {
  font-size: 1.7rem;
}
.container .right-main .transaction {
  border: 1px solid black;
  margin: 0.5rem 1rem;
  display: flex;
  height: 60px;
  width: 60%;
  justify-content: center;
}
.container .right-main .transaction .transaction-type h1 {
  font-size: 20px;
  padding-top: -10px;
}
.container .right-main .transaction .transaction-type .Sell {
  color: #e03131;
}
.container .right-main .transaction .transaction-type .Buy {
  color: #2f9e44;
}
.container .right-main .transaction .transaction-info {
  width: 100px;
  height: 100px;
}
.container .right-main .transaction .transaction-info h2 h3 {
  font-size: 1rem;
}/*# sourceMappingURL=index.css.map */